<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnal FF14 site</title>
    <link rel="stylesheet" href="../CSS/CSSMain.page.css">
    <link rel="icon" href="../IMG/favicon.ico">
    

</head>
<body >
    <header id="Header">
        
    </header>

    <main>
        <h1>Personnal FF14 site</h1>

     <div class="WeaponsGuide">
        <h2 id="relic-weapons">Relic Weapons</h2>
        <p id="relic-change">Here can you find every guide to every relic weapon from each expansion of the game.</p>
     </div>

        <div class="Cooking">
         <h2>Cooking recipes</h2>
         <p id="Cooking-add">Here you can add progressively the cooking recipes that you learn in game</p>
        </div>

    </main>

    <script src="../JS/JSmain.page.mjs"></script>
    <script src="../JS/Header.mjs"></script>
</body>
</html>