<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnal FF14 site</title>
    <link rel="stylesheet" href="../CSS/CSSMain.page.css">
    

</head>
<body >
    <h1>Personnal FF14 site</h1>

    <div class="WeaponsGuide">
        <h2 id="relic-weapons">Relic Weapons</h2>
        <p id="relic-change">Here can you find every guide to every relic weapon from each expansion of the game.</p>
    </div>

    <div class="Cooking">
        <h2>Cooking recipes</h2>
    </div>


    <script src="../JS/JSmain.page.mjs"></script>
</body>
</html>